@import "../../variables";

.InputName {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $base-background-color;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__input-box {
    border: 1px dashed $base-colour;
    padding: 32px;
    margin-bottom: 20px;
  }
}
